body {
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(151, 79, 19);
    overflow-x: hidden;
}

h1, h2, h3 {
    color: rgb(206, 206, 206);
}

#ball {
    margin: 50px;
    background-color: black;
    width: 220px;
    height: 220px;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(80, 106, 219, 0.623) 5px 5px 80px 60px;
    color: white;
}
#ball:hover {
    width: 310px;
    height: 310px;
    transition: 0.5s;
    background-color: rgb(46, 12, 5);
    box-shadow: rgba(230, 230, 230, 0.623) 5px 5px 80px 60px;
}
.voltar {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 2px solid white;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    left: 4px;
    transition: 0.3s;
    background-color: #0000;
    top: 10px
}
.voltar:hover {
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 2px solid black;
    padding: 7px;
    font-size: 22px;
    position: absolute;
    left: 4px;
    transition: 1s;
    background-color: #0000;
    top: 10px
}
@media (min-width: 700px) {
  #ball {
    width: 300px;
    height: 300px;
    color: white;
    transition: 1s;
  }
  h3 {
    max-width: 1024px;
  }
  span {
    display: block;
    max-width: 1024px;
  }
  h2 {
    display: block;
    margin-top: 100px;
  }
}